<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant Apps">
  <meta name="theme-color" content="#FFD500">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  <title>Restaurant Apps</title>
</head>
<body>
  <!-- SKIP BUTTON -->
  <a id="skip-button" class="skip-button" href="#mainContent">SKIP TO CONTENT</a>
  
  <!-- HEADER -->
  <header class="header">
    <!-- BRAND -->
    <div class="header__brand">
      <h1>Restaurant Apps</h1>
    </div>

    <!-- MENU -->
    <div class="header__menu">
      <button id="hamburgerButton">☰</button>
    </div>

    <!-- NAVIGATION -->
    <nav id="navigationDrawer" class="header__navigation">
      <ul>
        <li><a href="#/restaurants">Restaurants</a></li>
        <li><a href="#/favourites">Favourites</a></li>
        <li><a href="https://goo.gl/maps/bLGnJNxbZYUTwru47">About Us</a></li>
      </ul>
    </nav>
  </header>

  <!-- MAIN CONTENT -->
  <main id="mainContent" class="main"></main>

  <!-- FOOTER -->
  <footer class="footer">
    <p>© 2021 Restaurant Apps</p>
  </footer>
</body>
</html>
